body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://i.postimg.cc/VNZQhwFR/thumb-1920-545298.jpg");
  min-height: 100%;
}


  



.ABKMY{
	background: -webkit-linear-gradient(right,  red, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

