body{
  background-image: linear-gradient(to right, #FF7733, yellow);
}


.nav_part_color{
  background-image: linear-gradient(to right, #FF7733, yellow);
}


a{
  font-family: 'Poppins', sans-serif;
}


#withoutnavbar{
  margin-top: 40px;
}


.w3ncert_main_name{
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 28px;
  letter-spacing: 1px;
}


.main_images{
  min-height: 230px;
  max-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 28px;
}


.welcome{
  font-size: 6vw;
  font-family: 'Teko', sans-serif;
  color: #ffffff;
  box-shadow: -10px -10px 25px #fff;  
}


.ncert_world{
  font-size: 6vw;
  font-family: 'Teko', sans-serif;
  color: #ffffff;
  box-shadow: -10px -10px 25px #fff;  
}


.need_any_help{
  font-size: 6vw;
  font-family: 'Teko', sans-serif;
  color: #ffffff;
  box-shadow: -10px -10px 25px #fff;  
}






/*////////////////////////////////////////*/
/*w3ncert.com*/
.w3ncert_big_logo{
  text-align: center;
  font-size: 60px;
  font-size: 8vw;
  font-family: 'Faster One', cursive;
  color: #303030;
  margin-top: 20px;
  margin-bottom: 10px;
}





/*////////////////////////////////////////*/
/*A Community of Passionate Educators and Learners*/
.learners{
  text-align: center;
  font-size: 3.5VW;
  color: black;
  font-family: 'Teko', sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}




/*ABOUT OUR WEBSITE//////////////////////////////////////////////*/
#kc{
  background-color: #F0F0F0;
}


.ke{
    width: 50%;
    font-size: 1.8vw;
    font-family: 'Teko', sans-serif;
}


.ki{
    width: 50%;
}

.mm{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 3.5vw;
    color: #FF7733;
    font-family: 'Teko', sans-serif;
}

.mn{
    margin-top: 4px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: black;
    font-family: 'Poppins', sans-serif;
}


#mo{
    width: 100%;
    border-top-left-radius: 30%;
}
/*//////////////////////////////////////////////*/


.LIB{
  width: 100%;
  max-height: 500px;
}



.sb{
  text-align: center;
  font-size: 3vw;
  background-image: url(https://i.postimg.cc/d3RFzFzk/footer-background-01-1.jpg);
  background-size: 100% 100%; 
}


.sc{
  font-size: 3vw;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-top: -5px;
  margin-bottom: -5px;
  word-spacing: 1vw;
  letter-spacing: .1vw;
}



/*////////////////////////////////////////*/
/*for all footer content*/
.footer{
  /*background: linear-gradient(to bottom right, #333333, black);*/
  background-color: #262626;
  text-align: center;
  color: #fff;
  padding: 40px;
  position: bottom;
  font-family: 'Bree Serif', serif;
  margin-bottom: -35px;
}

.contact_us_heading{
  margin-bottom: 20px;
  font-family: 'Teko', sans-serif;
  text-decoration-line: underline;
  color: #FF7733;
}


.fa{
    font-size: 40px;
    padding: 12px;
    width: 110px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
}
.logo_name{
    align-items: right;
    color: yellow;
}
.need_any_help?{
    font-size: 20px;
}
.fa:hover{
    color: #fff;
    text-decoration: none;
    transform: scale(1.2);
    transition: 1s;
}
.fa-facebook {
    background: #3B5998;
    color: white;

}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}


#thisisshivam31{
  color: #fff;
  text-decoration: none;
}



#thisisshivam31:hover{
  color: blue;
  text-decoration: none;
  text-shadow: 25px 5px 25px;

}


.All_Right_Reserved{
  background-image: linear-gradient(to right, #FF7733, yellow);
  padding: 12px;
  margin-bottom: -10%;
  font-family: 'Aguafina Script', cursive;
  font-family: 'IBM Plex Sans', sans-serif;    
}

/*////////////////////////////////////////*/

